* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
	align-content: start;
  max-width: 1100px;
	margin: 20px auto;
  width:80%;
  
}
.product{
 
  position: relative;
	cursor: pointer;
 
  width:30%;
 
  margin-bottom: 40px;
}
.product .first{
 
}
img{
  width: 100%;
}

.product .second{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
	
  
  
}
.product:hover .second{
  display: block;
  
	position: absolute;
  
}
.levis{
  color: grey;
}
.prezzo{
  color: red;
}
.prezzo-scontato{
  color: black;
  text-decoration: underline;
}
